@page "/not-found"
@layout MainLayout

<PageTitle>Страница не найдена</PageTitle>

<div class="console">
    <h1>Не найдено</h1>
    <p>Запрошенной страницы не существует.</p>
    <a class="btn btn-ghost" href="">На главную</a>
</div>
